@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    color: white;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    font-size: 2rem;
    margin-bottom: 20px;
}

h1 {
    color: #008060;
}

a {
    text-decoration: none;
    color: white;
}

button.primary {
    outline: none;
    border: none;
    padding: 8px 16px 8px 16px;
    margin: 0px 8px 0px 8px;
    border-radius: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background-color: #008060;
}

button.primary:hover {
    background-color: #004c3f;
}

button.primary:disabled {
    cursor: default;
    background-color: #777;
    color: rgb(200, 200, 200);
}

button.primary:disabled:hover {
    background-color: #777;
}

button.primary.small {
    height: 35px;
}

button.primary.large {
    height: 60px;
    padding: 0 50px 0 50px;
    font-size: 1.4rem;
}

.green-text {
    color: #008060;
}

.dark-green-text {
    color: #004c3f;
    font-size: 1.2rem;
    vertical-align: top;
    position: absolute;
}